### ATTENTION ###
# This is the GLOBAL gitignore, please do NOT change this file,
# unless it should be available for everyone
# Please change the LOCAL gitignore (.git/info/exclude) to cutomize
# exluding files/folders from being recognized by git

# Recovery files
*~

# Simulations directory
Fracture-MPM-Eigensoftening/Figures/Simulations/*

# Compiled tex files
*.log
*.aux
*.synctex.gz


